a.logo:hover, a.logo:active {
	outline: none;
	text-decoration: none;
}
.logo {
	display: inline-block;
	color: rgb(29, 29, 41);
	font-size: 25px;
	font-weight: 600;
}

.logo img {
	width: 150px;
}
.card {
	max-width: 32%;
}

